body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

.dialpad {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 1px;
	grid-column-gap: 1px;
}

.dialpad button {
	font-size: 16px;
	padding: 4px;
}

.dialpad .dialpad-output {
	grid-column-start: 1;
	grid-column-end: span 3;
}

.dialpad .sum-button {
	margin-top: 8px;
	grid-column-start: 2;	
}

